@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
/* =================================== 변수값 설정 및 클래스 설정 =================================== */
/* =================================== 변수값 설정 및 클래스 설정 =================================== */
:root {
  --Primary: #4f98ff;
  --Primary-b: #275fae;
  --Secondary: #304977;
  --Basic: #66686b;
  --F-s: 0.75rem; /* 12px */
  --F-sm: 1rem;
  --F-ms: 1.125rem; /* 18px */
  --F-md: 1.375rem; /* 22px */
  --F-l: 1.75rem; /* 28px */
  --F-lg: 2.25rem; /* 36px */
}
.f-s {
  font-size: var(--F-s);
}
.f-sm {
  font-size: var(--F-sm);
}
.f-ms {
  font-size: var(--F-ms);
}
.f-md {
  font-size: var(--F-md);
}
.f-l {
  font-size: var(--F-l);
}
.f-lg {
  font-size: var(--F-lg);
}
.f-primary {
  color: var(--Primary);
}
.f-secondary {
  color: var(--Secondary);
}
.f-basic {
  color: var(--Basic);
}
.f-light {
  font-weight: lighter;
}
.g-light {
  color: #dcdcdc;
  font-weight: 100;
}
.f-white {
  color: white;
}
.display-block {
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.recommend {
  text-align: center;
  margin-top: 34px;
}
.row {
  margin: 0 auto;
}
.col-box {
  width: auto;
  padding: 10px 0;
  position: relative;
  text-align: center;
}
.row-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  height: 420px;
}
.won {
  position: absolute;
  top: 70px;
  left: 550px;
  color: #a8a8a8;
}
.question-icon {
  position: absolute;
  top: 35px;
  left: -3px;
  vertical-align: middle;
  line-height: 15px;
}
.question-box {
  width: 355px;
  height: 76px;
  font-size: 0.75rem;
  position: absolute;
  padding: 22px;
  padding-left: 36px;
  top: 50px;
  left: -10px;
  display: none;
  background-image: url("../img/Union.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 10% 30%); */
}
.wide {
  width: 355px;
  height: 245px;
  background-image: url("../img/Union_wide.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.question-box > p {
  color: var(--Basic);
  text-align: left;
}

/* =================================== 전체, body 및 태그 CSS =================================== */
/* =================================== 전체, body 및 태그 CSS =================================== */
* {
  box-sizing: border-box;
  font-family: Pretendard, sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--Basic);
}
h1 {
  font-size: 1.75rem;
  color: black;
  font-weight: 300;
  position: absolute;
  top: -92px;
  left: 10px;
}
p {
  color: black;
  letter-spacing: 1px;
  margin: 0;
  letter-spacing: -0.5px;
}
#main2 {
  margin-bottom: 111px;
}
#main3 {
  text-align: center;
}
#main3 > img {
  margin-bottom: 70px;
}
::placeholder {
  color: #dcdcdc;
}
button {
  background-color: transparent;
  border: none;
}
button > p {
  color: white;
  font-size: var(--F-md);
}
body {
  margin: 0;
  background-color: #fafafa;
}
ul {
  padding: 0;
}
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 0 300px;
}
ul {
  line-height: 36px;
}
li {
  display: inline-block;
  padding: 0 15px;
  list-style-type: none;
}

form {
  text-align: center;
}
input,
select {
  width: 580px;
  height: 44px;
  border-radius: 44px;
  text-align: center;
  font-size: var(--F-md);
  border: none;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.09);
  color: var(--Primary);
  border-right: 16px solid transparent; /* 화살표 패딩 */
  border-left: 16px solid transparent; /* 화살표 패딩 */
}
input:focus,
select:focus {
  font-weight: 100;
  outline-color: var(--Primary);
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}
input[type="radio"] + label {
  padding: 0 20px 0 10px;
}
button + span {
  position: absolute;
  width: 100%;
  top: 85px;
  left: 130px;
}

/* =================================== section =================================== */
/* =================================== section =================================== */
#section-wrap {
  position: relative;
  z-index: 1;
}
.top_img {
  position: absolute;
  top: 50px;
  left: 5%;
}
#section-wrap > .top_img:nth-child(2) {
  left: 79%;
}
section {
  background-color: var(--Primary);
  width: 100%;
  height: 420px;
}
.section-left {
  width: 100%;
}
.section-left > p {
  color: white;
}
.tab-content > input:hover,
select:hover {
  background-color: rgb(79, 152, 255, 0.05);
}

/* =================================== calculation =================================== */
/* =================================== calculation =================================== */
.cal-btn {
  width: 310px;
  height: 60px;
  border-radius: 10px;
  border: 0;
  font-size: var(--F-md);
  color: var(--Secondary);
  font-weight: bold;
  margin-top: 20px;
}
#calculation {
  position: relative;
  z-index: 2;
  top: -180px;
  transition: all 1s;
}
.calculate {
  width: 900px;
  height: 860px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 4px 4px 35px rgb(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}
.tab-content-group {
  width: auto;
  display: flex;
  justify-content: center;
  transform: translateX(780px);

  transition: all 0.5s;
}
.tab-content {
  width: 580px;
  /* margin: 0 auto; */
  text-align: center;
  /* display: none; */
  position: relative;
}
.calculate .tab-content:nth-child(2) {
  margin: 0 200px;
}
.tab-group {
  width: 580px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px auto 0;
}
.tab-item {
  width: 190px;
  font-size: var(--F-md);
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
}
.active {
  border-bottom: 3px solid var(--Primary);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.input-name {
  padding: 30px 0 5px 20px;
  font-size: 17px;
  font-weight: bold;
  width: 600px;
}
.bt {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--Primary);
  margin-top: 50px;
}
.result-bt {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--Primary);
  margin-top: -100px;
}
.tab-box {
  position: relative;
}
#result {
  width: 900px;
  height: 860px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  margin: 0 auto;
  padding: 74px;
  box-shadow: 4px 4px 35px rgb(0, 0, 0, 0.1);
  background-color: white;
}
.box-sha {
  border-radius: 20px;
  /* border: 1px solid gainsboro; */
  box-shadow: 4px 4px 35px rgb(0, 0, 0, 0.1);
  padding: 0;
}
.space-bet {
  justify-content: space-between;
}

#result > .row {
  text-align: center;
}

#result > .row > div {
  height: 240px;
}

#calculator-submit {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: end;
}

p > span {
  margin: 20px 0 10px 0;
  color: var(--Basic);
  font-size: 0.75rem;
}

.info-left {
  width: 265px;
  height: 240px;
  padding: 23px 35px;
  font-size: var(--f-sm);
}
.info-left,
.info-right > div {
  text-align: left;
}

.info-right {
  width: 470px;
  height: 240px;
  padding: 23px 35px;
  font-size: var(--f-sm);
}
.tag-box {
  width: 83px;
  height: 20px;
  border-radius: 20px;
  color: var(--Primary);
  background-color: rgb(79, 152, 255, 0.07);
  /* display: inline-block; */
  text-align: center;
  margin-right: 12px;
  float: left;
}
.tag-box-wide {
  width: 120px;
}
.input-phone {
  text-align: center;
  margin-top: 10px;
}
.number-box {
  width: 480px;
  height: 47px;
  font-size: var(--F-ms);
}
.btn-circle-2 {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: white;
  background-color: var(--Primary);
  font-size: var(--F-sm);
}
#myChart {
  /* width: 100% !important;
  height: 180px !important; */
  margin: 0 auto;
}

/* =================================== article =================================== */
/* =================================== article =================================== */
article {
  width: 1024px;
  text-align: center;
  margin: -20px auto 100px;
}
aside {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 111px 0;
}
.article-text-group {
  /* width: 790px; */
  display: flex;
  justify-content: center;
  margin: 0;
}
.article-left-text,
.article-center-text,
.article-right-text {
  width: 200px;
}
.article-center-text {
  margin: -50px 40px 0;
}
/* #aside-wrap {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 260px;
} */
/* .aside-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
} */

/* =================================== reservation =================================== */
/* =================================== reservation =================================== */
#reservation {
  background-color: var(--Primary);
  width: 100%;
  height: 270px;
}
#reservation > p {
  color: black;
}

.btn-circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  color: white;
  background-color: var(--Primary-b);
  font-size: var(--F-md);
}
#wrap {
  position: relative;
}
#agreement {
  width: 900px;
  height: 860px;
  border-radius: 30px;
  box-shadow: 4px 4px 35px rgb(0, 0, 0, 0.1);
  background-color: white;
  margin: 0 auto;
  position: absolute;
  top: 1600px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 3;
  display: none;
}
.agreement-title {
  width: 100%;
  height: 62px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  background-color: var(--Primary);
  padding: 15px 0;
}
.agreement-content {
  width: 764px;
  height: 544px;
  margin: 63px auto 20px auto;
  background-color: #fafafa;
  line-height: 16px;
  padding: 20px;
}
.check-box {
  width: 310px;
  height: 22px;
  margin: 0 auto;
  text-align: center;
}
.exit {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 13px;
  right: 14px;
  cursor: pointer;
}
/* =================================== main3 =================================== */
/* =================================== main3 =================================== */
.card-wrap {
  display: flex;
  justify-content: center;
  margin: 140px;
}

.card-item {
  width: 395px;
  height: 395px;
  box-shadow: 4px 4px 35px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 0 10px;
  padding: 42px;
}
.card-item > img {
  margin: 0 0 20px;
}
.card-item > p + p {
  margin-top: 44px;
}

/* =================================== footer =================================== */
/* =================================== footer =================================== */
footer {
  margin: 50px 0;
}
.footer-box {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  width: auto;
  text-align: left;
}
.footer-right {
  width: auto;
  display: flex;
  justify-content: center;
}
#number-box {
  width: 500px;
  height: 63px;
}

.rule {
  width: 1024px;
  margin: 20px auto;
}
